body{
    background-color:lightgreen;
  }
#キャラ1{
    width: 60px;
}
#キャラ2{
    width: 60px;
}
#キャラ3{
    width: 60px;
}
#キャラ4{
    width: 60px;
}
#キャラ5{
    width: 60px;
}
#キャラレベル1{
    width: 60px;
}
#キャラレベル2{
    width: 60px;
}
#キャラレベル3{
    width: 60px;
}
#キャラレベル4{
    width: 60px;
}
#キャラレベル5{
    width: 60px;
}
#通常キャラ1{
    width: 60px;
}
#通常キャラ2{
    width: 60px;
}
#通常キャラ3{
    width: 60px;
}
#通常キャラ4{
    width: 60px;
}
#通常キャラ5{
    width: 60px;
}
#必殺キャラ1{
    width: 60px;
}
#必殺キャラ2{
    width: 60px;
}
#必殺キャラ3{
    width: 60px;
}
#必殺キャラ4{
    width: 60px;
}
#必殺キャラ5{
    width: 60px;
}