body{
    background-color:lightgreen;
}
#tab{
    text-align: right;
    display: inline-block;
    width: 100px;
}
#place{
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width: 68px;
}
#キャラ1{
    width: 60px;
}
#キャラ2{
    width: 60px;
}
#キャラ3{
    width: 60px;
}
#キャラ4{
    width: 60px;
}
#キャラ5{
    width: 60px;
}
#キャラレベル1{
    width: 60px;
}
#キャラレベル2{
    width: 60px;
}
#キャラレベル3{
    width: 60px;
}
#キャラレベル4{
    width: 60px;
}
#キャラレベル5{
    width: 60px;
}
#キャラ潜在1{
    width: 60px;
}
#キャラ潜在2{
    width: 60px;
}
#キャラ潜在3{
    width: 60px;
}
#キャラ潜在4{
    width: 60px;
}
#キャラ潜在5{
    width: 60px;
}
#キャラふれあい1{
    width: 60px;
}
#キャラふれあい2{
    width: 60px;
}
#キャラふれあい3{
    width: 60px;
}
#キャラふれあい4{
    width: 60px;
}
#キャラふれあい5{
    width: 60px;
}
#通常キャラ1{
    width: 60px;
}
#通常キャラ2{
    width: 60px;
}
#通常キャラ3{
    width: 60px;
}
#通常キャラ4{
    width: 60px;
}
#通常キャラ5{
    width: 60px;
}
#必殺キャラ1{
    width: 60px;
}
#必殺キャラ2{
    width: 60px;
}
#必殺キャラ3{
    width: 60px;
}
#必殺キャラ4{
    width: 60px;
}
#必殺キャラ5{
    width: 60px;
}
#与治療plus1{
    width: 60px;
}
#与治療plus2{
    width: 60px;
}
#与治療plus3{
    width: 60px;
}
#与治療plus4{
    width: 60px;
}
#与治療plus5{
    width: 60px;
}